body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    background: lightgrey;
    margin-bottom: 30px;
    height: 500px;
}
.box{
    width: 80px;
    height: 80px;
    background-color: lightblue;
    text-align: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 80px;
    font-size: 20px;
}
.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column-reverse{
    flex-direction: column-reverse;
}

