*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 40px;
}

.box {
    background-color: lightblue;
    margin: 10px;
    border: 2px solid black;
    text-align: center;
    
    
}

.block div {
    display: block;
    width: 200px;
    height: 80px;
}


.inline span{
    display: inline;
    background-color: yellow;
    border: 2px solid greenyellow;
}

.inline-block div{
    background-color: red;
    display: inline-block;
    width: 200px;
    height: 80px;

}