body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 40px;
   display: flex;
    flex-wrap: wrap;
}

.box{
    min-width: 200px;
    
    padding: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}